<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appunisagrado" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true"/>
    <uses-permission android:name="android.permission.CALL_PHONE"
        android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vacinapp_redondo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/vacinapp_redondo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppUnisagrado.NoActionBar" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDUo4mtis_l_jtfqdIFR8x_kS-_LLi3kTo" />

        <activity
            android:name=".Mapa"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />
        <activity
            android:name=".Dados"
            android:exported="false"
            android:label="@string/title_activity_dados"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />
        <activity
            android:name=".Recuperacao"
            android:exported="false"
            android:label="@string/title_activity_recuperacao"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />
        <activity
            android:name=".Sintomas"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />
        <activity
            android:name=".Infos"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />
        <activity
            android:name=".Principal"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />
        <activity
            android:name=".Prevencao"
            android:exported="false"
            android:screenOrientation="portrait"

            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />

        <activity
            android:name=".Sobre"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppUnisagrado.NoActionBar" />
        <activity
            android:name=".Loading"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>